body {
    min-width: 600px; /*Минимальная ширина для body*/
}
header {
    text-align:right;
}
main {
    width: 80%;
}
.top-menu {
    background-color: maroon;
    box-shadow: 0 0 14px 0 grey;
    height: 40px;
}
.top-menu ul li {
    display: inline;
}
.top-menu li a {
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    padding: 10px;
}
.top-menu ul:last-child {
    border-right: none;
}
.top-menu li a:hover {
    text-decoration: underline;
}
.img-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.h1-text {
    border: 1px solid grey;
    width: 100%;
    padding: 0 10px 10px;
    background-color: gainsboro;
}
h2 {
    color: maroon;
    border-bottom: 1px solid grey;
    font-family: sans-serif;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: bold;
}
.h1-text p {
    padding-top: 10px;
    padding-bottom: 20px;
}
.block1 li {
    list-style: outside;
    margin-left: 20px;
    line-height: 1.2;
    color: hotpink; /* Цвет маркеров */
}
.block1 li span {
    color: black; /* Цвет текста */
}
.flex {
    display: flex;
    padding-top: 20px;
}
.jeneral-block {
    display: flex;
    padding: 0 20px;
    /*width: 100%;*/
}
aside {
    width: 20%;
    margin-left: 50px;
}
.pet-3 {
    box-shadow: 0 10px 4px -4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
h3 {
    color: maroon;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.last-block {
    border: 1px solid grey;
    background-color: gainsboro;
}
.last-block a {
    color: hotpink;
    line-height: 1.5;
}
.last-block li {
    list-style-image: url('../images/paws.png');
    list-style-position: inside;
    padding-left: 50px;

}
.block-end {
    border-top: 1px solid silver;
    background-color: whitesmoke;
    margin-top: 15px;
}
.block-end a {
    color: firebrick;
}
